__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
kettle-build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# uv
uv.lock

.DS_Store
passport.json
manifest.json

builds/
outputs/

claude.md
.claudeignore
